*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    

}


.container{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    
    padding-left: 20px;
    padding-right: 20px;
}


.informations{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

h1{
   margin-right: 10px;
   font-size: 1.2rem;
}

.headcontainer{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}

header{
    background-image: url("header.png");
    height: 200px;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    position: relative;

}
header h1{
font-size: 2rem;
flex: 2;
}

.headcontainer{
    position: relative;
}

.searchsection{
position: absolute;
bottom: -10px;
left: 50%;
transform: translate(-50%, 0);
display: flex;
align-items: center;


}

input{
    font-size: .9rem;
    width: 350px;
    border: none;
    padding: 5px;
    border: solid 1px #D1D5DB;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-family: FontAwesome;
    

}
button{
    font-size: .8rem;
    padding: 4.5px 15px;
    border: none;
    height: 100%;
    border-right: solid 1px #D1D5DB;
    border-top: solid 1px #D1D5DB;
    border-bottom: solid 1px #D1D5DB;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px
}

.itemWarpper{
    display: flex;
    flex-direction: row;
    padding: 15px 0px;
    border-bottom: solid 1px #DFDDDD;
    margin-top: 20px;
}

.mainimage{
  width: 100px;
}
.mainimage img{
    width: 100px;
}

.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

}
p{
    font-size: 0.8rem;
}

.info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.watchlist{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 30px;
    gap: 5px;
}


.notfound{
    color: #DFDDDD;
    width: 310px;
    text-align: center;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;

}